{include file="../application/common/view/header.html"}
<link rel="stylesheet" href="__STATIC__super-index-v2-css.css?3429fcc824">
</head>

<body data-closeuser="0" data-closestat="0">
    <div id="topbar" data-spm="topbar" class="J_ubt_module yahei topbar" data-closemsg="0" data-closecountinfo="0" data-closemagicbar="0" data-closelightfeedback="0">
        <div class="container">
            {include file="../application/common/view/topbar.html"}
            {include file="../application/common/view/topnav.html"}
            {include file="../application/common/view/category.html"}
            {include file="../application/common/view/banner.html"}


            <section class="super-layout-bd yahei">
                <!--每日限量爆款 start-->
                <div id="J_limit_area" class="super-limit-area J_box J_super_item_list J_adtracker" data-tw="3">
                    <div class="container home-title limit-title">
                        <div class="container"><h3 class="l t ht">每日限量区</h3>
                            <div class="title-tips">今日上新913款<i></i></div>
                            <div id="J_limit_title_cd" class="title-countdown">
                                <p data-time="1561514400,1561564799" style="">本场<span class="J_text_inner">剩余</span>：<span class="J_time_inner hasCountdown"><em>00</em>时<em>00</em>分<em>00</em>秒</span></p>
                                <p data-time="1561600800,1561651199" style="display:none;">本场<span class="J_text_inner">剩余</span>：<span class="J_time_inner hasCountdown"><em>00</em>时<em>00</em>分<em>00</em>秒</span></p>
                            </div>
                            <ul id="J_limit_tabs" data-curtid="1" class="limit-tabs clearfix">
                                <li data-tid="1" class="current">10:00 专场</li>
                                <li data-tid="9">明日预告</li>
                            </ul>
                        </div>
                    </div>
                    <div id="J_limit_panel" class="limit-panel J_ubt_module" data-spm="super_limit_1">
                        <div id="J_limit_ctgs_wrap" class="container limit-category J_limit_category">
                            <ul class="clearfix">
                                <li class="current"><a data-spm="super_home.pc.cid-0" class="J_category" data-cid="0" href="javascript:void(0);" data-tid="1">全部(935)</a></li>
                                <li><a data-spm="super_home.pc.cid-41" class="J_category" href="javascript:void(0);" data-cid="41" data-tid="1">女装(105)</a></li>
                                <li><a data-spm="super_home.pc.cid-43" class="J_category" href="javascript:void(0);" data-cid="43" data-tid="1">食品(83)</a></li>
                                <li><a data-spm="super_home.pc.cid-47" class="J_category" href="javascript:void(0);" data-cid="47" data-tid="1">家居家纺(64)</a></li>
                                <li><a data-spm="super_home.pc.cid-45" class="J_category" href="javascript:void(0);" data-cid="45" data-tid="1">数码家电(45)</a></li>
                                <li><a data-spm="super_home.pc.cid-63" class="J_category" href="javascript:void(0);" data-cid="63" data-tid="1">内衣(61)</a></li>
                                <li><a data-spm="super_home.pc.cid-51" class="J_category" href="javascript:void(0);" data-cid="51" data-tid="1">母婴(186)</a></li>
                                <li><a data-spm="super_home.pc.cid-57" class="J_category" href="javascript:void(0);" data-cid="57" data-tid="1">男装(69)</a></li>
                                <li><a data-spm="super_home.pc.cid-49" class="J_category" href="javascript:void(0);" data-cid="49" data-tid="1">美妆个护(88)</a></li>
                                <li><a data-spm="super_home.pc.cid-53" class="J_category" href="javascript:void(0);" data-cid="53" data-tid="1">运动户外(83)</a></li>
                                <li><a data-spm="super_home.pc.cid-55" class="J_category" href="javascript:void(0);" data-cid="55" data-tid="1">家装家具(30)</a></li>
                                <li><a data-spm="super_home.pc.cid-65" class="J_category" href="javascript:void(0);" data-cid="65" data-tid="1">女鞋(30)</a></li>
                                <li><a data-spm="super_home.pc.cid-67" class="J_category" href="javascript:void(0);" data-cid="67" data-tid="1">男鞋(18)</a></li>
                                <li><a data-spm="super_home.pc.cid-59" class="J_category" href="javascript:void(0);" data-cid="59" data-tid="1">箱包(24)</a></li>
                                <li><a data-spm="super_home.pc.cid-61" class="J_category" href="javascript:void(0);" data-cid="61" data-tid="1">珠宝配饰(45)</a></li>
                                <li><a data-spm="super_home.pc.cid-97" class="J_category" href="javascript:void(0);" data-cid="97" data-tid="1">汽车用品(4)</a></li>
                            </ul>
                        </div>

                        <!--J_limit_item_wrap start-->
                        <div id="J_limit_item_wrap" class="clearfix J_limit_box limit-items">
                            {foreach $goods as $key=>$vo }
                            <div id="J_item_{$vo.goods_origin_id}" data-cid="13" class="J_super_item item-mod item-mod-b item-mod-common item-mod-s super-item-start" data-id="567173303600" data-limit="1" data-inner="1" data-time="1561514400,1561737599">
                                <a data-spm="super_home.pc.pid-567173303600~bid-60683" data-ubtindex="1" class="link J_item_link" data-inner="1" href="{:url('category/index' , ['cat' => $vo.goods_cat , 'brand' => $vo.goods_brand])}" target="_blank" data-href="{:url('category/index' , ['cat' => $vo.goods_cat , 'brand' => $vo.goods_brand])}"></a>
                                <div class="img-box">
                                    <img class="img lazy" data-expo="page-limitedpc~module-limitarea~changci-1000~pid-567173303600~bid-60683" src="{$vo.goods_cover}" data-original="{$vo.goods_cover}" alt="{$vo.goods_name}" style="display: block;">
                                </div>
                                    <h4 class="title">{$vo.goods_name}</h4>
                                    <p class="price">¥{$vo.goods_origin_price}<span class="ticket">{$vo.goods_ticket_value}</span></p>
                                    <p class="price-now clearfix">
                                        <span class="price-info">到手价¥</span>
                                        <span class="price-num">{$vo.goods_final_price}</span>
                                        <a class="item-btn J_item_link J_item_btn" href="{:url('category/index' , ['cat' => $vo.goods_cat , 'brand' => $vo.goods_brand])}" target="_blank" data-href="{:url('category/index' , ['cat' => $vo.goods_cat , 'brand' => $vo.goods_brand])}" style="display:block;"></a>
                                    </p>
                                </div>
                            {/foreach}
                        </div>
                        <!--J_limit_item_wrap end-->
                        <div class="morelimit-wrap">
                            <div class="morelimit-box" id="J_get_morelimit_box">
                                <hr>
                                <a href="javascript:void(0);" class="morelimit-trigger" id="J_get_morelimit_trigger">查看更多爆款商品</a>
                            </div>
                            <div class="morelimit-loading-box" id="J_morelimit_loading_box" style="display: none;"><i class="morelimit-loading"></i>
                            </div>
                        </div>

                        <!--今日品牌开始-->
                        <div id="J_brand_area" class="brand-wrap yahei J_box" data-tw="4">
                            <div class="home-title brand-title clearfix"><h3 class="t ht">今日品牌</h3>
                                <div class="title-tips">今日上新53个品牌<i></i></div>
                                <p class="title-info">共169个品牌在线</p>
                            </div>
                            <div id="J_today_brand_wrap" class="brand-content clearfix J_adtracker">
                                <div class="brand-mod J_brand_mod" data-time="1561392000,1561910399">
                                    <div><a data-spm="super_home.pc.bid-4165" data-ubtindex="1" class="link" href="http://super.fanli.com/brand-4165?spm=super_home.pc.bid-4165" target="_blank" data-id="4165"></a></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-4165" data-original="https://l4.51fanli.net/super/images/2018/09/5b9621e7a8f28.jpg" src="https://l4.51fanli.net/super/images/2018/09/5b9621e7a8f28.jpg" alt="adidas/阿迪达斯" style="display: block;">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-4165" src="https://l2.51fanli.net/super/images/2015/09/560a5118d097f.png" data-original="https://l2.51fanli.net/super/images/2015/09/560a5118d097f.png" alt="adidas/阿迪达斯" style="display: inline-block;">
                                        <div class="info-box">
                                            <div class="about">国际运动知名品牌</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月25日~06月30日</p>
                                            </div>
                                            <div class="coupon">满399减300</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561168800,1561564799">
                                    <div><a data-spm="super_home.pc.bid-73073" data-ubtindex="2" class="link" href="http://super.fanli.com/brand-73073?spm=super_home.pc.bid-73073" target="_blank" data-id="73073"></a><i class="i-jsyt ht">仅剩一天</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-73073" data-original="https://l4.51fanli.net/super/images/2018/08/5b77d0d17257f.jpg" src="https://l4.51fanli.net/super/images/2018/08/5b77d0d17257f.jpg" alt="Gap童装" style="display: block;">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-73073" src="https://l0.51fanli.net/super/images/2019/04/m_5ca472a62a4bc.png" data-original="https://l0.51fanli.net/super/images/2019/04/m_5ca472a62a4bc.png" alt="Gap童装" style="display: inline-block;">
                                        <div class="info-box">
                                            <div class="about">知名时尚服饰品牌</div>
                                            <div class="desc"><strong><span class="arial">7.7</span>折起</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月22日~06月26日</p>
                                            </div>
                                            <div class="fl">超级返：<strong>23</strong>%</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>23</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561168800,1561564799">
                                    <div><a data-spm="super_home.pc.bid-83357" data-ubtindex="3" class="link" href="http://super.fanli.com/brand-83357?spm=super_home.pc.bid-83357" target="_blank" data-id="83357"></a><i class="i-jsyt ht">仅剩一天</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-83357" data-original="https://l2.51fanli.net/super/images/2018/08/5b77d14f144a2.jpg" src="https://l2.51fanli.net/super/images/2018/08/5b77d14f144a2.jpg" alt="Gap男装" style="display: block;">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-83357" src="https://l3.51fanli.net/super/images/2018/08/m_5b7bd529256ed.png" data-original="https://l3.51fanli.net/super/images/2018/08/m_5b7bd529256ed.png" alt="Gap男装" style="display: inline-block;">
                                        <div class="info-box">
                                            <div class="about">知名时尚服饰品牌</div>
                                            <div class="desc"><strong><span class="arial">7.7</span>折起</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月22日~06月26日</p>
                                            </div>
                                            <div class="fl">超级返：<strong>23</strong>%</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>23</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561168800,1561564799">
                                    <div><a data-spm="super_home.pc.bid-83361" data-ubtindex="4" class="link" href="http://super.fanli.com/brand-83361?spm=super_home.pc.bid-83361" target="_blank" data-id="83361"></a><i class="i-jsyt ht">仅剩一天</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-83361" data-original="https://l3.51fanli.net/super/images/2018/08/5b77d11e669f0.jpg" src="https://l3.51fanli.net/super/images/2018/08/5b77d11e669f0.jpg" alt="Gap女装" style="display: block;">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-83361" src="https://l1.51fanli.net/super/images/2018/08/m_5b7bd4f5cc043.png" data-original="https://l1.51fanli.net/super/images/2018/08/m_5b7bd4f5cc043.png" alt="Gap女装" style="display: inline-block;">
                                        <div class="info-box">
                                            <div class="about">知名时尚服饰品牌</div>
                                            <div class="desc"><strong><span class="arial">7.7</span>折起</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月22日~06月26日</p>
                                            </div>
                                            <div class="fl">超级返：<strong>23</strong>%</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>23</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561428000,1561823999">
                                    <div><a data-spm="super_home.pc.bid-925" data-ubtindex="5" class="link" href="http://super.fanli.com/brand-925?spm=super_home.pc.bid-925" target="_blank" data-id="925"></a></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-925" data-original="https://l2.51fanli.net/super/images/2018/06/5b237afe3e0db.jpg" src="https://l2.51fanli.net/super/images/2018/06/5b237afe3e0db.jpg" alt="雷士照明" style="display: block;">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-925" src="https://l0.51fanli.net/super/images/2015/07/55b1ad8f04d60.png" data-original="https://l0.51fanli.net/super/images/2015/07/55b1ad8f04d60.png" alt="雷士照明" style="display: inline-block;">
                                        <div class="info-box">
                                            <div class="about">黑夜中灯光的艺术</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月25日~06月29日</p>
                                            </div>
                                            <div class="coupon">满899减400</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561168800,1561823999">
                                    <div><a data-spm="super_home.pc.bid-899" data-ubtindex="6" class="link" href="http://super.fanli.com/brand-899?spm=super_home.pc.bid-899" target="_blank" data-id="899"></a></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-899" data-original="https://l1.51fanli.net/super/images/2017/01/587f02f4b1b67.jpg" src="https://l1.51fanli.net/super/images/2017/01/587f02f4b1b67.jpg" alt="ARROW/箭牌" style="display: block;">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-899" src="https://l1.51fanli.net/super/images/2015/04/551e1c1dbe250.png" data-original="https://l1.51fanli.net/super/images/2015/04/551e1c1dbe250.png" alt="ARROW/箭牌" style="display: inline-block;">
                                        <div class="info-box">
                                            <div class="about">卫浴间里的幸福感</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月22日~06月29日</p>
                                            </div>
                                            <div class="coupon">满300减100</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561737599">
                                    <div><a data-spm="super_home.pc.bid-3691" data-ubtindex="7" class="link" href="http://super.fanli.com/brand-3691?spm=super_home.pc.bid-3691" target="_blank" data-id="3691"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-3691" data-original="https://l0.51fanli.net/super/images/2018/11/5be5023ea3545.jpg" src="https://l0.51fanli.net/super/images/2018/11/5be5023ea3545.jpg" alt="奥康" style="display: block;">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-3691" src="https://l4.51fanli.net/super/images/2014/08/53e4c934eb58c.png" data-original="https://l4.51fanli.net/super/images/2014/08/53e4c934eb58c.png" alt="奥康" style="display: inline-block;">
                                        <div class="info-box">
                                            <div class="about">成功就在脚下</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月28日</p>
                                            </div>
                                            <div class="coupon">满129减40</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561564799">
                                    <div><a data-spm="super_home.pc.bid-125" data-ubtindex="8" class="link" href="http://super.fanli.com/brand-125?spm=super_home.pc.bid-125" target="_blank" data-id="125"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-125" data-original="https://l0.51fanli.net/super/images/2019/05/5cd50bb369eb9.jpg" src="https://l0.51fanli.net/super/images/2019/05/5cd50bb369eb9.jpg" alt="公牛开关" style="display: block;">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-125" src="https://l1.51fanli.net/super/images/2014/09/5427fec0cb826.png" data-original="https://l1.51fanli.net/super/images/2014/09/5427fec0cb826.png" alt="公牛开关" style="display: inline-block;">
                                        <div class="info-box">
                                            <div class="about">经典开关安全耐用</div>
                                            <div class="desc"><strong><span class="arial">6.6</span>折起</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">仅限今日</p>
                                            </div>
                                            <div class="fl">超级返：<strong>19~34</strong>%</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>19~34</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561910399">
                                    <div><a data-spm="super_home.pc.bid-5009" data-ubtindex="9" class="link" href="http://super.fanli.com/brand-5009?spm=super_home.pc.bid-5009" target="_blank" data-id="5009"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-5009" data-original="https://l4.51fanli.net/super/images/2017/08/599b9ef13affb.jpg" src="https://l4.51fanli.net/super/images/2017/08/599b9ef13affb.jpg" alt="洁柔" style="display: block;">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-5009" src="https://l4.51fanli.net/super/images/2014/09/5409a7c63e1a3.png" data-original="https://l4.51fanli.net/super/images/2014/09/5409a7c63e1a3.png" alt="洁柔" style="display: inline-block;">
                                        <div class="info-box">
                                            <div class="about">生活用纸品质之选</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月30日</p>
                                            </div>
                                            <div class="coupon">满19减3</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561910399">
                                    <div><a data-spm="super_home.pc.bid-12201" data-ubtindex="10" class="link" href="http://super.fanli.com/brand-12201?spm=super_home.pc.bid-12201" target="_blank" data-id="12201"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-12201" data-original="https://l4.51fanli.net/super/images/2017/10/59f8147ba6346.jpg" src="https://l4.51fanli.net/super/images/2017/10/59f8147ba6346.jpg" alt="维达" style="display: block;">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-12201" src="https://l3.51fanli.net/super/images/2015/01/54aba95f7c4bb.png" data-original="https://l3.51fanli.net/super/images/2015/01/54aba95f7c4bb.png" alt="维达" style="display: inline-block;">
                                        <div class="info-box">
                                            <div class="about">生活用纸选维达</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月30日</p>
                                            </div>
                                            <div class="coupon">满29减5</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561910399">
                                    <div><a data-spm="super_home.pc.bid-3753" data-ubtindex="11" class="link" href="http://super.fanli.com/brand-3753?spm=super_home.pc.bid-3753" target="_blank" data-id="3753"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-3753" data-original="https://l2.51fanli.net/super/images/2017/07/596827972b5bb.jpg" src="http://static2.51fanli.net/common/images/loading/spacer.png" alt="爱康国宾">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-3753" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="https://l1.51fanli.net/super/images/2014/11/545a198d2871f.png" alt="爱康国宾">
                                        <div class="info-box">
                                            <div class="about">爱健康来体检</div>
                                            <div class="desc"><strong><span class="arial">6</span>折起</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月30日</p>
                                            </div>
                                            <div class="fl">超级返：<strong>19~40</strong>%</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>19~40</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561823999">
                                    <div><a data-spm="super_home.pc.bid-40813" data-ubtindex="12" class="link" href="http://super.fanli.com/brand-40813?spm=super_home.pc.bid-40813" target="_blank" data-id="40813"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-40813" data-original="https://l2.51fanli.net/super/images/2016/02/56d03a3fb8d9d.jpg" src="http://static2.51fanli.net/common/images/loading/spacer.png" alt="clio/珂莱欧">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-40813" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="https://l0.51fanli.net/super/images/2016/02/56d00258846ec.png" alt="clio/珂莱欧">
                                        <div class="info-box">
                                            <div class="about">知名彩妆品牌</div>
                                            <div class="desc"><strong><span class="arial">7.7</span>折起</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月29日</p>
                                            </div>
                                            <div class="fl">超级返：<strong>7~23</strong>%</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>7~23</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561910399">
                                    <div><a data-spm="super_home.pc.bid-5775" data-ubtindex="13" class="link" href="http://super.fanli.com/brand-5775?spm=super_home.pc.bid-5775" target="_blank" data-id="5775"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-5775" data-original="https://l3.51fanli.net/super/images/2017/08/599ff7c81aed0.jpg" src="http://static2.51fanli.net/common/images/loading/spacer.png" alt="回头客">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-5775" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="https://l3.51fanli.net/super/images/2014/10/544a4f33367d4.png" alt="回头客">
                                        <div class="info-box">
                                            <div class="about">健康特色西式糕点</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月30日</p>
                                            </div>
                                            <div class="coupon">满59减20</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561478400,1561737599">
                                    <div><a data-spm="super_home.pc.bid-847" data-ubtindex="14" class="link" href="http://super.fanli.com/brand-847?spm=super_home.pc.bid-847" target="_blank" data-id="847"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-847" data-original="https://l4.51fanli.net/super/images/2018/04/5adec3e6e1102.jpg" src="http://static2.51fanli.net/common/images/loading/spacer.png" alt="南极人内衣">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-847" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="https://l3.51fanli.net/super/images/2014/09/5409a7727ed68.png" alt="南极人内衣">
                                        <div class="info-box">
                                            <div class="about">舒适内衣品牌</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月28日</p>
                                            </div>
                                            <div class="coupon">满43减15</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561910399">
                                    <div><a data-spm="super_home.pc.bid-717" data-ubtindex="15" class="link" href="http://super.fanli.com/brand-717?spm=super_home.pc.bid-717" target="_blank" data-id="717"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-717" data-original="https://l3.51fanli.net/super/images/2017/06/593f9810d7105.jpg" src="http://static2.51fanli.net/common/images/loading/spacer.png" alt="兰芝">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-717" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="https://l1.51fanli.net/super/images/2014/07/53d78d48952c6.png" alt="兰芝">
                                        <div class="info-box">
                                            <div class="about">韩国知名护肤品牌</div>
                                            <div class="desc"><strong><span class="arial">7.4</span>折起</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月30日</p>
                                            </div>
                                            <div class="fl">超级返：<strong>10~27</strong>%</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>10~27</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561823999">
                                    <div><a data-spm="super_home.pc.bid-34597" data-ubtindex="16" class="link" href="http://super.fanli.com/brand-34597?spm=super_home.pc.bid-34597" target="_blank" data-id="34597"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-34597" data-original="https://l1.51fanli.net/super/images/2017/12/5a436dc7ee133.jpg" src="http://static2.51fanli.net/common/images/loading/spacer.png" alt="威猛先生">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-34597" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="https://l0.51fanli.net/super/images/2016/11/58325553008eb.png" alt="威猛先生">
                                        <div class="info-box">
                                            <div class="about">帮你对付顽固污渍</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月29日</p>
                                            </div>
                                            <div class="coupon">满20减3</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561910399">
                                    <div><a data-spm="super_home.pc.bid-3899" data-ubtindex="17" class="link" href="http://super.fanli.com/brand-3899?spm=super_home.pc.bid-3899" target="_blank" data-id="3899"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-3899" data-original="https://l1.51fanli.net/super/images/2018/03/5aae0e9eb6cda.jpg" src="http://static2.51fanli.net/common/images/loading/spacer.png" alt="俞兆林内衣">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-3899" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="https://l1.51fanli.net/super/images/2014/08/53e880663a42c.png" alt="俞兆林内衣">
                                        <div class="info-box">
                                            <div class="about">内衣用来宠爱自己</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月30日</p>
                                            </div>
                                            <div class="coupon">满19减10</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1562083199">
                                    <div><a data-spm="super_home.pc.bid-43477" data-ubtindex="18" class="link" href="http://super.fanli.com/brand-43477?spm=super_home.pc.bid-43477" target="_blank" data-id="43477"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-43477" data-original="https://l0.51fanli.net/super/images/2017/08/599e6ad8cf969.jpg" src="http://static2.51fanli.net/common/images/loading/spacer.png" alt="双塔">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-43477" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="https://l2.51fanli.net/super/images/2016/03/56f11a2e39404.png" alt="双塔">
                                        <div class="info-box">
                                            <div class="about">随手下点粉条吃</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~07月02日</p>
                                            </div>
                                            <div class="coupon">满24减10</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561910399">
                                    <div><a data-spm="super_home.pc.bid-1105" data-ubtindex="19" class="link" href="http://super.fanli.com/brand-1105?spm=super_home.pc.bid-1105" target="_blank" data-id="1105"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-1105" data-original="https://l4.51fanli.net/super/images/2015/05/556568edd3b13.jpg" src="http://static2.51fanli.net/common/images/loading/spacer.png" alt="维氏">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-1105" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="https://l2.51fanli.net/super/images/2014/07/53d7989121cdf.png" alt="维氏">
                                        <div class="info-box">
                                            <div class="about">知名瑞士军刀品牌</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月30日</p>
                                            </div>
                                            <div class="coupon">满60减20</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="brand-mod J_brand_mod" data-time="1561514400,1561737599">
                                    <div><a data-spm="super_home.pc.bid-477" data-ubtindex="20" class="link" href="http://super.fanli.com/brand-477?spm=super_home.pc.bid-477" target="_blank" data-id="477"></a><i class="i-new ht">new</i></div><img class="img lazy" data-expo="page-limitedpc~module-brandarea~bid-477" data-original="https://l2.51fanli.net/super/images/2017/11/5a0124e56f486.jpg" src="http://static2.51fanli.net/common/images/loading/spacer.png" alt="古今">
                                    <div class="info"><img class="logo lazy" data-expo="page-limitedpc~module-brandarea~bid-477" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="https://l3.51fanli.net/super/images/2014/07/53d341c0be9e5.png" alt="古今">
                                        <div class="info-box">
                                            <div class="about">内衣行业知名品牌</div>
                                            <div class="desc"><strong class="manjian">全场满减</strong>
                                                <p class="J_soon_tag" style="display:none;"><i class="i-soon">即将开始</i></p>
                                                <p class="J_start_tag" style="">06月26日~06月28日</p>
                                            </div>
                                            <div class="coupon">满72减10</div>
                                            <!--<div class="coupon">满29999减1999</div>-->
                                            <!--<div class="fl">超级返：<strong>0</strong>%</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="J_brand_loading_box" class="brand-loading" style="display:none;">正在加载……</div>
                        </div>
                        <!--今日品牌结束-->
                    </section>

                    <div id="J_right_sidebar" class="right-sidebar" style="left: 1215.5px;"><a class="btn-side btn-side-qa" href="/qa" target="_blank"><i></i>给利秘籍</a><a class="btn-side btn-side-biz" href="/apply/index" target="_blank"><i></i>商务合作</a></div>

                    <div id="backtop" style="left: 1187.5px; display: block;"><a href="javascript:void(0);" class="side-feedback" target="_blank" style="display:none;"><i></i>意见反馈</a><a id="btn-backtop" href="javascript:void(0);" class="ht">返回顶部</a></div>


                    <script src="static/super-index-v2-js.js?789e30b3be"></script>
                    <script type="text/javascript">
                    (function() {
                        for (var i = 0, len = fgv.pageJsLoadedCallbackArr.length; i < len; ++i) {
                            fgv.pageJsLoadedCallbackArr[i]();
                        }

                        $("img").lazyload({effect: "fadeIn"});
                    }());
                    </script>
    {include file="../application/common/view/footer.html"}
    <!--footer end-->
    </body>
</html>


