<div class="sub-nav-wrap yahei">
    <div class="container J_ubt_module" data-spm="super_2nd_catagory">
        <ul class="sub-nav-list clearfix">
            <li><a href="http://super.fanli.com/" class="current" data-spm="super_home.pc.cid-0">全部</a></li>
            <li><a href="http://super.fanli.com/cat-3" data-spm="super_home.pc.cid-3">食品酒水</a></li>
            <li><a href="http://super.fanli.com/cat-1" data-spm="super_home.pc.cid-1">精品女装</a></li>
            <li><a href="http://super.fanli.com/cat-9" data-spm="super_home.pc.cid-9">家居家装</a></li>
            <li><a href="http://super.fanli.com/cat-5" data-spm="super_home.pc.cid-5">数码家电</a></li>
            <li><a href="http://super.fanli.com/cat-19" data-spm="super_home.pc.cid-19">内衣</a></li>
            <li><a href="http://super.fanli.com/cat-13" data-spm="super_home.pc.cid-13">母婴童装</a></li>
            <li><a href="http://super.fanli.com/cat-17" data-spm="super_home.pc.cid-17">男装</a></li>
            <li><a href="http://super.fanli.com/cat-7" data-spm="super_home.pc.cid-7">美妆个护</a></li>
            <li><a href="http://super.fanli.com/cat-15" data-spm="super_home.pc.cid-15">运动户外</a></li>
            <li><a href="http://super.fanli.com/cat-11" data-spm="super_home.pc.cid-11">鞋包配饰</a></li>
        </ul>
    </div>
</div>