<html class=" js no-mobile desktop no-ie chrome chrome75 root-section gradient rgba opacity textshadow multiplebgs boxshadow borderimage borderradius cssreflections csstransforms csstransitions no-touch retina fontface domloaded w-1411 gt-240 gt-320 gt-480 gt-640 gt-768 gt-800 gt-1024 gt-1280 lt-1440 lt-1680 lt-1920 no-portrait landscape" id="index-page">

<head>
    <meta charset="utf-8">
    <title>给利网超级返：淘宝商城、天猫旗舰店等大牌云集，折扣给利最高达81%,每日10点上新！购物省钱还给利，真是太给力了</title>
    <meta name="flpn" content="superapp_home_index_index">
    <meta name="keywords" content="">
    <meta name="description" content="购物给利网超级返每天10点限量抢购，云集淘宝商城（天猫旗舰店）等一线大牌商城与品牌，最高给利高达81%！精明网购，就来给利网超级返频道！">
    <meta name="flurlh5" content="h5?spm=page_name.h5.pty-flurlh5~std-54203">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="http://www.gouwugeili.com/apple-touch-icon.png">
    <link rel="stylesheet" href="__STATIC__common.css">
    <script src="__STATIC__common/libs/jquery/jquery.min.js"></script>
    <script src="__STATIC__common/libs/jquery.lazyload.js"></script>
    <script src="__STATIC__common/libs/headjs/head.min.js"></script>
    <script type="text/javascript">
    var fgv = {
        fanlitrack: {
            pv: {
                s_pos: "home_pv"
            },
            s10400: {
                from: "",
                keyword: "",
                brand: "",
                refpage: ""
            }
        },
        channels: {
            superfl: {
                closestat: "0",
                closeuser: "0",
                limittime: "0,0"
            }
        },
        pageJsLoadedCallbackArr: []
    };

    // baidu tongji
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?f2950f2b6cb26ea19055ab8878a7ffe8";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();


    </script>
    <script type="text/javascript">
    var u = navigator.userAgent;
    if (!!u.match(/AppleWebKit.*Mobile.*/) && !!getMeta('flurlh5')) {
        var redirectURL = getMeta('flurlh5');
        window.location.href = redirectURL;
    }

    function getMeta(metaName) {
        var metas = document.getElementsByTagName('meta');

        for (let i = 0; i < metas.length; i++) {
            if (metas[i].getAttribute('name') === metaName) {
                return metas[i].getAttribute('content');
            }
        }
        return '';
    }
    </script>
