<div id="J_topbar_quick_info" class="l">
    <p class="l">您好，</p>
    <div id="J_topbar_chklogin" class="l topbar-user clearfix">
        <div class="topbar-nav J-topbar-nav">
            <div class="menu-hd"><a href="//passport.fanli.com/login?go_url=http%3A%2F%2Fgouwugeili.d%2F" rel="nofollow">马上登录</a><i class="arrow"></i></div>
            <div class="menu-bd menu-login"><em class="arrow"></em>
                <dl>
                    <!-- <dd><a href="//passport.fanli.com/login?go_url=http%3A%2F%2Fgouwugeili.d%2F" rel="nofollow">给利登录</a></dd>
                    <dd><a href="https://passport.fanli.com/oauth/jumpToUnion/type/qq/ab/1/cooklogin/1" rel="nofollow">QQ登录</a></dd>
                    <dd><a href="https://passport.fanli.com/oauth/jumpToUnion/type/sina/ab/1/cooklogin/1" rel="nofollow">新浪登录</a></dd> -->
                    <dd><a href="https://passport.fanli.com/oauth/jumpToUnion/type/wechat/ab/1/cooklogin/1" rel="nofollow">微信登录</a></dd>
                </dl>
            </div>
        </div>
        <div class="topbar-reg"><a target="_blank" href="https://passport.fanli.com/reg?action=yes&amp;go_url=http%3A%2F%2Fgouwugeili.d%2F" rel="nofollow">免费注册</a></div>
    </div>
</div>
<div class="topbar-r clearfix">
    <div class="topbar-nav topbar-guide J-topbar-nav">
        <div class="menu-hd"><a href="http://www.isoftware.com/shop/" target="_blank">给利导购</a><i class="arrow"></i></div>
        <div class="menu-bd"><em class="arrow"></em>
            <dl>
                <dd><a href="http://super.fanli.com/" target="_blank">超级返</a><i class="i-hot"></i></dd>
                <dd><a href="http://www.isoftware.com/shop/" target="_blank">商城给利</a></dd>
                <dd><a href="http://taobao.fanli.com/" target="_blank">淘宝给利</a></dd>
                <dd><a data-spm="guide_travel.pc.module-entrance~std-45170" href="http://travel.fanli.com/index/travel" target="_blank">旅行给利</a></dd>
            </dl>
        </div>
    </div>
    <div class="topbar-nav topbar-app J-topbar-nav">
        <div class="menu-hd"><a href="http://huodong.fanli.com/webapp/smartphone?ref=newindex1" target="_blank">手机给利</a><i class="arrow"></i></div>
        <div class="menu-bd clearfix"><em class="arrow"></em>
            <div class="qcode-box"><img class="img-qcode J-menu-img-lazy" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="//static2.51fanli.net/common/images/header/client-fanli-v3.png" alt="给利网客户端">给利网客户端</div>
                <div class="btn-box"><a class="btn-system btn-ios" href="https://itunes.apple.com/cn/app/fan-li-wang-tao-bao-tian-mao/id591584458?mt=8" target="_blank"><i></i>IOS版</a><a class="btn-system btn-android" href="http://imagefile2.51fanli.net/app/android/FanliAndroid.apk?v=201906201_2259477350" target="_blank"><i></i>Android版</a></div>
                <div class="qcode-box"><img class="img-qcode J-menu-img-lazy" src="http://static2.51fanli.net/common/images/loading/spacer.png" data-original="//static2.51fanli.net/common/images/header/client-weixin-v4.png" alt="给利网官方微信">给利网官方微信</div>
                    <div class="text-box">关注给利网官方微信，给利到账早知道！</div>
                </div>
            </div>
            <ul class="topbar-enter clearfix">
                <li><a href="http://9.fanli.com/" target="_blank">9块9</a></li>
                <li><a href="http://f.fanli.com/life/fshop/" target="_blank">F币商城</a></li>
            </ul>
            <div class="topbar-nav"><a href="http://super.fanli.com/apply/landing" target="_blank">商家报名</a></div>
            <div class="topbar-nav topbar-cs J-topbar-nav">
                <div class="menu-hd"><a href="http://help.fanli.com/" target="_blank">帮助中心</a></div>
                <div class="menu-bd"><em class="arrow"></em>
                    <dl>
                        <dd><a class="J_show_customservice" href="javascript:void(0);" data-spm="help_center.pc.zaixiankefu">在线客服</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>