<header class="super-header">
    <div class="container-hd">
        <div class="container J_ubt_module" data-spm="super_logo">
            <div class="super-header-logo"><a class="logo-fanli ht" href="http://www.isoftware.com/">给利网</a><a data-spm="super_home.pc.pty-logo" class="logo-super ht" href="/">超级返</a></div>
            <ul class="super-header-ensure clearfix">
                <li><i class="i-ensure1"></i>每日10点上新</li>
                <li><i class="i-ensure2"></i>100%正品保障</li>
                <li><i class="i-ensure3"></i>官方承诺 100%给利</li>
            </ul>
        </div>
    </div>
    <div id="J_super_navbar" class="super-navbar-wrap">
        <div class="container container-bd J_ubt_module" data-spm="super_catagory">
            <ul class="super-navbar">
                <li><a data-spm="super_home.pc.pty-home" href="/" class="current J_tw" data-tw="1">首页</a></li>
                <li><a data-spm="super_home.pc.pty-limit" href="#J_limit_area" class="J_tw" data-tw="3">每日限量区</a></li>
                <li><a data-spm="super_home.pc.pty-todaybrand" href="#J_brand_area" class="J_tw" data-tw="4">今日品牌<i class="ico-num">上新53个<em></em></i></a></li>
            </ul><a id="J_super_header_search_btn" class="btn-search" href="javascript:void(0);"><i></i></a>
            <div id="J_super_header_main_search" class="main-search">
                <form action="/tag/q" target="_blank"><input class="input-keyword yahei J-dm-search" type="text" name="keyword" placeholder="连衣裙" autocomplete="off"><input type="hidden" name="refpage" value="index"><input type="hidden" name="spm" value="super_home.pc.pty-search"><input data-spm="super_home.pc.pty-search" class="input-submit J-dm-submit" type="submit" value=""></form>
            </div>
            <div id="J-super-navbar-myfav" class="super-navbar-r "><a href="/myfav" target="_blank">我的收藏<i class="num J_num"></i></a></div>
        </div>
    </div>
</header>